@*Coooooooment!!!!!*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/scriptSettings")
    <link rel="stylesheet" type="text/css" href="" />
    @Scripts.Render("~/bundles/visualsetting")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fullcalendar")




</head>

<body>
    <br />
    <br />
    <br />
    <br />

    <div id="test" style="visibility:hidden">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TestCompany", "Start", "Home", null, new { @class = "navbar-brand" })
                    @Html.ActionLink("Register Employee", "Register", "Home", null, new { @class = "navbar-brand" })
                    @Html.ActionLink("Calendar", "Index", "Home", null, new { @class = "navbar-brand" })
                    @Html.ActionLink("Add Category", "CategoryAdd", "Home", null, new { @class = "navbar-brand" })
                    @Html.ActionLink("Visual Settings", "VisualSettings", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/visualsetting")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullcalendar")

    @RenderSection("scripts", required: false)
    <script>
        $(window).on('load', function () {
            //$("#cover").css('visibility', 'hide');
            getActiveCss();
            //$("#cover").hide();



        })

        $(document).ready(function () {
            $("#test").css('visibility', 'visible');
        });



    </script>

</body>

</html>
